.login-container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  background: url('../../../../assets/home-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.header img {
  height: 50px;
}

h1 {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 0.5rem;
  background-color: #e50914;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.signup-text {
  margin-top: 1rem;
  text-align: center;
}

.signup-text a {
  color: #e50914;
  text-decoration: none;
}
